.cell {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  float: left;
}

.cell-role-empty {
  background-color: ghostwhite;
}

.cell-role-wall {
  background-color: gainsboro;
}

.cell-frontier {
  background-color: blue;
}

.cell-role-start {
  background-color: red;
}

.row {
  clear: left;
}
