.cell {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  float: left;
}

.cell-role-empty {
  background-color: ghostwhite;
}

.cell-role-wall {
  background-color: gainsboro;
}

.cell-frontier {
  background-color: blue;
}

.cell-visited {
  background-color: honeydew;
}

.cell-role-start {
  background-color: red;
}

.row, .col-0 {
  clear: left;
}
