.cell {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  float: left;
}

.cell-role-0 {
  background-color: ghostwhite;
}

.cell-role-1 {
  background-color: gainsboro;
}
.row {
  clear: left;
}
